body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.home-page {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(301px, 500px));
  gap: 20px;
  padding: 20px;
}

/* Media query for widths less than 400px */
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.room-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.room-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-card img {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid #ddd;
}

.room-info {
  padding: 15px;
  text-align: center;
}

.room-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.room-info p {
  margin: 10px 0;
  color: #777;
}

.room-info button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.room-info button:hover {
  background-color: #0056b3;
}
